<!DOCTYPE html>
<html>
<head>
    <title>Your MadLib Story</title>
</head>
<body>
    <h1>🔐 Your Cybersecurity Heist Story</h1>
    <p>
    Last night, a(n) {{ madlib_words['adjective1'] }} hacker infiltrated the {{ madlib_words['noun1'] }} of a major {{ madlib_words['noun2'] }}.
    Armed with only a {{ madlib_words['noun3'] }} and a dream, they {{ madlib_words['verb1'] }} into the system using a {{ madlib_words['adjective2'] }} line of code.

    Suddenly, the firewall screamed like a {{ madlib_words['noun4'] }}, and alerts started to {{ madlib_words['verb2'] }} across dashboards.
    The SOC was in {{ madlib_words['adjective3'] }} chaos.

    “We’ve got a(n) {{ madlib_words['adjective4'] }} breach!” yelled the analyst, spilling their {{ madlib_words['noun5'] }}.

    The hacker, unfazed, {{ madlib_words['verb3'] }} deeper into the {{ madlib_words['noun6'] }}, uncovering a stash of {{ madlib_words['plural_noun1'] }} labeled “Top Secret.”

    At the final moment, just before capture, they {{ madlib_words['verb4'] }} out of the system, leaving behind a(n) {{ madlib_words['adjective5'] }} message:
    <strong>“I was never here... or was I?”</strong>
    </p>
    <a href="/">🔁 Try Again</a>
</body>
</html>
